body {
  font-family: "HelveticaNeue", "Arial", sans-serif;
  background-color: rgb(182, 243, 238);
}
h1 {
  font-size:4em;
  text-align: Center;
}


h2 {
  font-size: 2.5em;
  margin: 0px;
  text-align: center;
  line-height: 1;
}

p {
  margin: 0px;
  line-height: 5;
}
